USE [master]
GO
/****** Object:  Database [Semantic Crawler]    Script Date: 8/24/2026 1:43:58 PM ******/
CREATE DATABASE [Semantic Crawler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Semantic Crawler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\Database\Semantic Crawler.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Semantic Crawler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\Database\Semantic Crawler_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Semantic Crawler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Semantic Crawler]
GO
/****** Object:  User [omid]    Script Date: 8/24/2026 1:43:58 PM ******/
CREATE USER [omid] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Url_Id] [int] NOT NULL,
	[Url_Name] [nvarchar](100) NOT NULL,
	[Url_Refrence] [nvarchar](100) NOT NULL,
	[Url_Level] [tinyint] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Date_Modify] [nvarchar](30) NULL,
	[Date_Crawl] [nvarchar](30) NULL,
	[Length] [bigint] NULL,
	[Hash_Code] [nvarchar](50) NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Url_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[frame] [nvarchar](255) NOT NULL,
	[frame_type] [smallint] NOT NULL,
	[slot] [nvarchar](255) NOT NULL,
	[facet] [nvarchar](255) NOT NULL,
	[is_template] [bit] NOT NULL,
	[value_index] [int] NOT NULL,
	[value_type] [smallint] NOT NULL,
	[short_value] [nvarchar](255) NULL,
	[long_value] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[Term_Id] [int] NOT NULL,
	[Term] [nvarchar](100) NOT NULL,
	[Term_Distance] [tinyint] NOT NULL,
	[Notation] [nvarchar](50) NULL,
	[Distance] [tinyint] NOT NULL,
 CONSTRAINT [PK_Term] PRIMARY KEY CLUSTERED 
(
	[Term_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TermFreq]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TermFreq](
	[Url_Id] [int] NOT NULL,
	[Term_Id] [int] NOT NULL,
	[Term_Freq] [smallint] NOT NULL,
	[Weight] [float] NULL,
 CONSTRAINT [PK_TermFreq_1] PRIMARY KEY CLUSTERED 
(
	[Url_Id] ASC,
	[Term_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Topic_Id] [int] NOT NULL,
	[Topic] [nvarchar](100) NOT NULL,
	[Weight] [float] NULL,
	[Notation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Topics_1] PRIMARY KEY CLUSTERED 
(
	[Topic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Sports_I2]    Script Date: 8/24/2026 1:43:58 PM ******/
CREATE NONCLUSTERED INDEX [Sports_I2] ON [dbo].[Sports]
(
	[short_value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Sports_I4]    Script Date: 8/24/2026 1:43:58 PM ******/
CREATE NONCLUSTERED INDEX [Sports_I4] ON [dbo].[Sports]
(
	[slot] ASC,
	[frame_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertPage]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPage]
@Url_Name nvarchar(100),
@Url_Refrence nvarchar(50),
@Url_Level	tinyint,
@Title nvarchar(50),
@Date_Modify nvarchar(30),
@Date_Crawl nvarchar(30),
@Length bigint,
@Page_Content ntext,
@Hash_Code nvarchar(50),
@Score int
as
insert into Document(Url_Name,Url_Refrence,Url_Level,Title,Date_Modify,Date_Crawl,Length,Page_Content,Hash_Code,Score) 
values(@Url_Name,@Url_Refrence,@Url_Level,@Title,@Date_Modify,@Date_Crawl,@Length,@Page_Content,@Hash_Code,@Score);







GO
/****** Object:  StoredProcedure [dbo].[InsertTerm]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTerm]
@Term nvarchar(100),
@Term_Distance tinyint,
@Notation nvarchar(50),
@Distance tinyint
as
insert into Term(Term,Term_Distance,Notation,Distance) 
values(@Term,@Term_Distance,@Notation,@Distance)








GO
/****** Object:  StoredProcedure [dbo].[InsertTermFreq]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTermFreq]
@Url_Id	int,	
@Term_Id int,	
@Term_Freq smallint	
as
insert into TermFreq(Url_Id,Term_Id,Term_Freq) 
values(@Url_Id,@Term_Id,@Term_Freq)




GO
/****** Object:  StoredProcedure [dbo].[LoadClass]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadClass]
as
SELECT frame, frame_type, slot, value_index, value_type, short_value FROM Sports
WHERE (frame_type = 9) AND (slot = ':NAME')
ORDER BY frame








GO
/****** Object:  StoredProcedure [dbo].[LoadHas]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadHas]
as
SELECT  Sp1.frame, Sp1.slot, Sp1.short_value, Sp2.slot AS slot2, Sp2.short_value AS short_value2
FROM Sports AS Sp1 INNER JOIN Sports AS Sp2 ON Sp1.frame = Sp2.frame
WHERE (Sp1.frame_type = 13) AND (Sp1.slot LIKE '%domain') AND (Sp2.slot LIKE '%range')
ORDER BY Sp1.frame
GO
/****** Object:  StoredProcedure [dbo].[LoadISA]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadISA]
as
SELECT     frame, frame_type, slot, value_index, value_type, short_value
FROM         Sports
WHERE     (frame_type = 9) AND (slot LIKE ':DIRECT-%CLASSES') AND (frame NOT LIKE '%Thing') AND (short_value NOT LIKE '%Thing') AND (value_type = 9)
ORDER BY frame








GO
/****** Object:  StoredProcedure [dbo].[LoadObject]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadObject]
as
SELECT frame, frame_type, slot, value_index, value_type, short_value FROM Sports
WHERE (frame_type = 25) AND (slot = ':NAME')
ORDER BY frame









GO
/****** Object:  StoredProcedure [dbo].[LoadObjectClass]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadObjectClass]
as
SELECT  frame, frame_type, slot, value_type, short_value
FROM Sports
WHERE (frame_type = 25) AND (slot = ':DIRECT-TYPE')
ORDER BY frame









GO
/****** Object:  StoredProcedure [dbo].[LoadTerm]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadTerm]
@Notation nvarchar(50),
@Distance tinyint
as
select Term from Term where Notation=@Notation and Distance=@Distance







GO
/****** Object:  StoredProcedure [dbo].[LoadTermId]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadTermId]
@TermName nvarchar(100),
@Distance tinyint
as
select Term_Id from Term where Term=@TermName and Distance=@Distance






GO
/****** Object:  StoredProcedure [dbo].[LoadTopic]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadTopic]
@Notation nvarchar(50)
as
select Topic,Weight from Topics where Notation=@Notation

GO
/****** Object:  StoredProcedure [dbo].[LoadUrlHash]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadUrlHash]
@Hash_Code nvarchar(50)
as
select Url_Id from Document where Hash_Code=@Hash_Code
GO
/****** Object:  StoredProcedure [dbo].[LoadUrlId]    Script Date: 8/24/2026 1:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadUrlId]
@UrlName nvarchar(100)
as
select Url_Id from Document where Url_Name=@UrlName;


GO
USE [master]
GO
